h3{
    padding-bottom: 100px;
}

h1{
    
    padding-top: 25px;
}


ol{
    font-size: 20px !important;
    color: #ffcdd2 !important;
}

button a{
    color:#3700B3 !important;
    text-decoration: underline;
    font-size: 24px;
}

.card-title{
    color: white !important;
}

.card-subtitle{
    
    color:#ffcdd2 !important;
}

.card{
    width: 52rem;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-top: 20px;
    margin-bottom: 20px; /* Added */
    background: #ff1744 !important;

    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}

.createGroup{
    font-size: 14px !important;
}
label {
    width:180px;
    clear:left;
    text-align:right;
    padding-right:10px;
}

input text, label {
    float:left;
}


body.modal-open .supreme-container{
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

.card-body  a{
    color: #3700B3 !important;
}
