.navbar-expand-lg{
    background-color: blue !important;
}

.navbar{
    -webkit-box-shadow: -2px 8px 6px -6px #c20000;
    -moz-box-shadow: -2px 8px 6px -6px #c20000;
    box-shadow: -2px 8px 6px -6px #c20000;
}

a{
    color: #FFFFFF !important;
    text-decoration: none !important;
}

a:hover{
    color: #00ff6d !important;
}

a:active{
    color:black !important;
}
button{
    background-color:  rgba(0,0,0,0)  !important;
    color: white !important;
    border-color:white!important;
}

.table-custom{
    background: #ff1744 !important;
}