.navbar-expand-lg{
    /*background-color: rgb(130, 177, 255) !important;*/
    background-color: #00C853 !important;
}
.navbar-toggler {
    color:white;
  }
.navbar{
    
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-link{
    color: #FFFFFF !important;
    text-decoration: none !important;
}

li a:hover{
    color: #FF5252 !important;
    border-bottom: 2px solid #FF5252 !important;
}
a:hover{
    color:black !important;
}
a:active{
    color:black !important;
}
button{
    background-color:  rgba(0,0,0,0)  !important;
    color: white !important;
}

.nav-item{
    color: black !important;
}

.navbar-collapse{
    color: red !important;
}