.btn-circle, .btn-circle-3d{ 
    border-radius: 50% !important;
}

h2{
    padding: 20px;
}
.bottom-right {
    position:absolute;
    text-align: center !important;
    align-content: center !important;
    bottom:0;
    right:0;
}
.table-custom{
    background: #ff1744 !important;
}

.table-custom td{
    color: white !important;
}