html
    head
        link(rel= 'stylesheet' type = 'text/css' href = '/css/homepage.css')
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
        
        title Secret Santa
        include menu.pug
        
    body
        .container
            div(class ="container-fluid")
                h3 Group Members
                    for list in members
                        h6= list.name
                            img(src="/images/default.png" width = "50px" height = "50px")
                h3(id = "header")
                    center  Group Wish List
                
                table(class="table table-striped table-custom" style="align-content:center;")
                        tr
                            th Name
                            th Description
                            th URL
                            th Purchased
                            th Date Added
                            th Requestee
                            th Price
                        for list in items
                            tr
                                td= list.item_name
                                td= list.item_description

                                td(id=list.item_name)
                                    a( target="_blank" rel="noopener noreferrer" href=list.url style ="color: #337ab7 !important;") Link 
                                script.
                                    if("#{list.url}" == "")
                                    {
                                        document.getElementById('#{list.item_name}').innerHTML="N/A";
                                    }
                                    
                                td
                                    div(class="dropdown")
                                        button(class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")=list.purchased
                                        div(class= "dropdown-menu" aria-labelledby="dropdownMenuButton") 
                                            a(class= "dropdown-item" href="#") No
                                            a(class= "dropdown-item" href="#") Yes
                                td= list.date_added
                                td= list.name
                                td= "$"+list.price
                        
                        