html
    include menu.pug
    link(rel='stylesheet' href='/css/groups.css')
    script(src='/js/groupURL.js')
body
    h1(id='groupTitle') Welcome To

    .card
        .card-body
            h2(id= 'groupAdminLB' class="card-title") Group Admin
            h5(class="card-title" class="card-subtitle mb-2 text-muted") The person who created the group
            br
            br
            h6(id='adminUser' style="color:#3700B3")=adfname + " " +adlname + " ("+adMember+")"
    .card
        .card-body
            h2(id = 'groupMemberLB' class="card-title") Group Members
            h5(class="card-title" class="card-subtitle mb-2 text-muted") The people who are apart of this group
            br
            br
            a(href="#" data-toggle="modal" data-target="#createGrpModal" style="color:#3700B3" ) Add Members
    .card
        .card-body
            h2(id='groupWishlist' class="card-title") Group's Wishlist
            h5(id='groupWishlist' class="card-subtitle mb-2 text-muted" ) The entire group's wishlist combined
            br
            br
            h6(style="color:#3700B3") None
    
    div(id="createGrpModal" class='modal fade')
            div(class="modal-dialog modal-dialog-centered")
                .modal-content
                    .modal-header
                        h4(class="modal-title") Add Member To Group
                    .modal-body
                        form(method='post' action='/member_create_submit' class='createGroupForm' onsubmit='return fieldCheck()')
                            label(for="memberEmail") Member's Email  
                            input(type="text" id='memberEmail' name ='memberEmail' placeholder='Enter e-mail address')
                            br
                            br
                            br
                            div(style="text-align:center;")
                                input(class = "btn btn-outline" type='submit' value= 'Create' align='right')
    
    script.
        setHeaderNames();
        function fieldCheck(){
            var match = false;
            
            if(document.getElementById('memberEmail').value != '')
                match = true;
            else{
                document.getElementById('memberEmail').style.borderColor = 'red';
            }
            return match;
        }

       