html
    include menu.pug
    link(rel='stylesheet' type = 'text/css' href='/css/groups.css')
    script(src="/js/groupURL.js")
body
    if errors
        script.
            alert("ERROR! Group Name Already Exists");
    
        
    .container-fluid
        .card
            .card-body
                h2(class="card-title ")
                    center Groups You Manage
                h5(class="card-subtitle mb-2 text-muted") 
                    center This will list all the group(s) that you have an administrative role in 
                br
                br
                br
                ol
                    for admin in adGroups
                            li
                                button(class="btn" onclick="setURLParam(this)")
                                    a(href='/group_settings' id = 'grpOpen')=admin
                
                a( href="#" id = "createGrpBtn" class="createGroup" data-toggle="modal" data-target="#createGrpModal") Create Group
        .card
            .card-body
                h2(class="card-title")
                    center Groups You Are In
                h5(class="card-subtitle mb-2 text-muted") 
                    center This will list all the group(s) that you are apart of
                br
                br
                br
                a(href="/CreateGroup" id = "joinGrpBtn" class="createGroup") Join A Group

        //hidden modal setup
        div(id="createGrpModal" class='modal fade')
            div(class="modal-dialog modal-dialog-centered")
                .modal-content
                    .modal-header
                        h4(class="modal-title") Create New Group
                    .modal-body
                        form(method='post' action='/group_create_submit' class='createGroupForm' onsubmit="return fieldCheck()")
                            label(for="groupName") Group Name   
                            input(type="text" id='groupName' name ='groupName' placeholder='Enter the name of the group')
                            br
                            br
                            br
                            div(style="text-align:center;")
                                input(class = "btn btn-outline" type='submit' value= 'Create' align='right')
        script.
            function fieldCheck(){
                var match = false;
                
                if(document.getElementById('groupName').value != '')
                    match = true;
                else{
                    document.getElementById('groupName').style.borderColor = 'red';
                }
                return match;
            }
    