html
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel= 'stylesheet' type = 'text/css' href = '/css/index.css')
    include menu.pug
    body
        .container-fluid
            h2
                center Welcome to Secret Sanata!
        