html
    include menu.pug
    body
        div(class = "card" style = "width: 47rem;  margin: 0 auto; float: none; margin-top: 20px; margin-bottom: 20px; background: #ff1744 !important;")
            div(class = "card-body")
                h2(style="color:#000000 !important;") 
                    center Login
                form(action = '/login_submit' method = 'post' id="login" style="text-align:center !important;")
                    br
                    input(class="form-control input-lg" type = "text",id= "username" name="username" placeholder="Username")
                    br
                    input(class="form-control input-lg" type = "password" id="pass" name="pass" placeholder="Password")
                    a(href="/pw-reset" style ="font-size: 14px; color:#66ffa6 !important;") Forgot Password
                    br
                    br
                    input(class="btn btn-lg btn-outline" type = "submit" value = "Sign In" style="background:#c4001d !important; color: white !important")
                    br
                    br
                    p(style="color:#69e2ff !important")=message
                    p(style = "color: #FFFFFF !important;") Dont Have An Account?
                        a(href="/registration" style = "padding: 5px !important; color:#66ffa6 !important;" ) Sign Up 