html
    head
            link(rel= 'stylesheet' type = 'text/css' href = '/css/menu.css')
            link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
            script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
            script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
            
            title Secret Santa

            nav(class = 'navbar navbar-expand-lg navbar-light bg-blue' )
                button(class="navbar-toggler" type="button" role="navigation" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="true" aria-label="Toggle navigation" )
                    span(class="navbar-toggler-icon" style="color:white;")
            
                div(class = "collapse navbar-collapse justify-content-center" id = "navbarText")
                    ul(class = "navbar-nav")
                        if user
                            -for(var i = 0; i < user_menuoption.length;i++){
                                li(class = "nav-item")
                                    a(class= "nav-link" href= user_links[i])= user_menuoption[i]
                            -}
                        else
                            -for(var i = 0; i < regular_menuoption.length;i++){
                                li(class = "nav-item")
                                    a(class= "nav-link" href= regular_links[i])= regular_menuoption[i]
                            -}
                if user
                    a(class="btn btn-outline-light" id='login' href="/logout" style="float: right !important;") Logout
                else
                    a(class="btn btn-outline-light" id='login' href="/login" style="float: right !important;") Login
