html
    include menu.pug
    title Sign Up

    body
        div(class = "card" style="position:fixed !important; top:25% !important; left:30% !important; width:40% !important; height: 55% !important; color:#b3e5fc !important;")
            div(class = "card-body" style = 'background-color:#6200EE !important;')
                h2(style="color:#BB86FC !important;") 
                    center Sign Up
                form(action = '/registration-submit' method = 'post' id="login" style="text-align:center !important; color:#b3e5fc !important;" onsubmit="return PasswordCheck()" )
                    br
                    input(class="form-control input-lg" type = "test"  id= "firstname"  name = "firstname"  placeholder="First Name" required)
                    br
                    input(class="form-control input-lg" type = "test"  id= "lastname"  name = "lastname"  placeholder="Last Name" required)
                    br
                    input(class="form-control input-lg" type = "text" id= "email" name="email" placeholder="E-Mail")
                    br
                    input(class="form-control input-lg" type = "text" id= "username" name="username" placeholder="Username" required)
                    br
                    input(class="form-control input-lg" type = "password" id="password" onBlur = "PasswordCheck()" name="password" placeholder="Password" required)
                    br
                    input(class="form-control input-lg" id = "cpassword" type = "password" onBlur = "PasswordCheck()" placeholder="Confirm Password" required)
                    br
                    input(class="btn btn-outline" type = "submit" value = "Sign Up" style="background-color:#BB86FC !important; color:#3700B3 !important;")
                    br
                    br
                    p(style="color:red !important")=message
                    
        
        script.
            function PasswordCheck(){
                var password =  document.getElementById('password');
                var cpass =  document.getElementById('cpassword');

                var match = false;
                if(password.value.length != 0 && cpass.value.length != 0){
                    if(password.value != cpass.value){

                        password.style.borderColor = 'red';
                        password.style.borderWidth = 'medium';
                        cpass.style.borderColor = 'red';
                        cpass.style.borderWidth = 'medium';
                        match = false;
                    }else{
                        
                        password.style.borderColor = 'green';
                        password.style.borderWidth = 'medium';
                        cpass.style.borderColor = 'green';
                        cpass.style.borderWidth = 'medium';
                        match = true;
                    }
                }
                return match;
            }