html
    include menu.pug
    link(rel='stylesheet' href="/css/wishlist.css")
    script.
            function createRow() {

                var table = document.getElementById("wishlist_table");
                var row = table.insertRow(table.rows.length);
                var name = row.insertCell(0);
                var description = row.insertCell(1);
                var url = row.insertCell(2);
                var pur = row.insertCell(3);
                var date = row.insertCell(4);
                var requestee = row.insertCell(5);
                var price = row.insertCell(6);
                name.innerHTML = "<input id = \"itemname\" name = \"itemname\" type='text' required>";
                description.innerHTML = "<input id=\"description\" name = \"description\" type='text' required>";
                url.innerHTML = "<input id=\"url\" name = \"url\" type='text' required >";
                pur.innerHTML = "<p id=\"purchased\" name = \"purchased\">No</p>";
                date.innerHTML = "<p id=\"date\" name = \"date\"></p>";
                requestee.innerHTML = "";
                price.innerHTML = "<input id=\"price\" name = \"price\" type='text' required>";
            }
            function checkIfValidPrice(field){
                var valid = false;
                if(field.match(/^\d+(,\d)*(\.\d{1,4})?$/))
                    valid = true;
                
                    

                return valid;
            }

            function enableForm(name,descr,url,date,price){
                
                document.getElementById("tmpForm").style.display = 'block';
                document.getElementById("it_name").value = name;
                document.getElementById("it_descr").value = descr;
                document.getElementById("it_url").value = url;
                document.getElementById("it_date").value = date;
                document.getElementById("it_price").value = price;

                $('#subBtn').click();
                
                document.getElementById("tmpForm").style.display = 'none';
            }
            function addItemToWishlist(){
                
                var rawdate = new Date().toLocaleString().slice(0, 20);
                var datetime = rawdate.replace(',',' ');
                var add = false;
                var name = document.getElementById("itemname");
                if(!name.validity.valid){
                    name.style.borderColor = 'red';
                }else{
                    name.style.borderColor = 'green';
                }

                var description = document.getElementById("description");
                if(!description.validity.valid){
                    description.style.borderColor = 'red';
                }else{
                    description.style.borderColor = 'green';
                }

                var date = document.getElementById("date");
                var url = document.getElementById("url");
                if(!url.validity.valid){
                    url.style.borderColor = 'red';
                }else{
                    url.style.borderColor = 'green';
                }

                var price = document.getElementById("price");
                if(!price.validity.valid || !checkIfValidPrice(price.value)){
                    price.style.borderColor = 'red';
                }else{
                     price.style.borderColor = 'green';
                }
                if(name.validity.valid && description.validity.valid && url.validity.valid && price.validity.valid && checkIfValidPrice(price.value)){
                    date.innerHTML = datetime;
                    add=true;
                    enableForm(name.value,description.value,url.value,date.innerHTML,price.value);
                }
                return add;
            }
    body
        .container
            h2
                center  Your Personal Wish List
            table(id='wishlist_table' class="table table-striped table-custom" style="align-content:center;")
                tr
                    th Item Name
                    th Item Description
                    th URL
                    th Purchased
                    th Date Added
                    th Requestee
                    th Price
                for items in wishlist
                    tr
                        td=items.item_name
                        td=items.item_description
                        td(id=items.item_name)
                            a( target="_blank" rel="noopener noreferrer" href=items.url style ="color: #337ab7 !important;") Link 
                        script.
                            if("#{items.url}" == "")
                            {
                                document.getElementById('#{items.item_name}').innerHTML="N/A";
                            }
                        td=items.purchased
                        td=items.date_added
                        td=items.name
                        td=items.price
                script.
                    createRow();
            button(class="btn btn-lg bg-primary btn-circle bottom-right" style="color:white !important;" onclick="return addItemToWishlist()" type="submit") +
            form(id='tmpForm' action='/wishlist_updated' method='post' style="display:none;")
                input(type = 'text' id = 'it_name' name='it_name')
                input(type = 'text' id = 'it_descr' name='it_descr')
                input(type = 'text' id = 'it_url' name='it_url')
                input(type = 'text' id = 'it_date' name='it_date')
                input(type = 'text' id = 'it_price' name='it_price')
                input(type = 'submit' id = 'subBtn' name = 'subBtn' value = 'submit')